/* hsla(27.57, 44.58%, 83.73%, 1)
rgba(195, 144, 127, 0.5) */
/* **********************************GENERAL********************************************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  font-weight: 400;
  background-color: transparent;
}
/* **********************************PIRVELI********************************************* */
.first-part {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.header1 {
  background-color: hsla(27.57, 44.58%, 83.73%, 0.5);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
}
.main-nav a {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 8px 12px;
}

.main-nav a.rezervi {
  padding: 2rem 2rem;
  border: 2px solid black;
  border-radius: 5px;
}
.main-nav a.rezervi:hover {
  color: #fff;
  background-color: hsla(27.1, 40.26%, 15.1%, 1);
  border-color: hsla(27.1, 40.26%, 15.1%, 1);
}
/* **********************************MEORE NAWILI********************************************** */
.whitespace {
  background-color: hsla(27.57, 44.58%, 83.73%, 0.4);
  padding: 2.5rem;
}

.second-part {
  background-color: hsla(27.57, 44.58%, 83.73%, 0.4);
}
.container2 {
  width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(195, 144, 127, 0.63);
}
.header2 {
  font-weight: 550;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 5rem;
  height: 100%;
}
.header-first {
  color: #000;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  letter-spacing: 0.5px;
}
.header-p {
  font-family: "Share Tech Mono";
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 1.8rem;
}
.first-img {
  max-width: 100%;
  padding-bottom: 5rem;
}
.meti-info {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  background: transparent;
  color: hsla(14.17, 32.14%, 56.08%, 1);
  border: 2px solid hsla(14.17, 32.14%, 56.08%, 1);
  border-radius: 5px;
  padding: 2.3rem 3.1rem;
}
.meti-info:hover {
  color: #fff;
  background-color: hsla(14.17, 32.14%, 56.08%, 1);
}
/* ///////////////////////////////MESAME NAWILI//////////////////////////////////////////////// */
.nichevo {
  display: grid;
  place-items: center;
  margin-bottom: 12rem;
}
.header3 {
  font-size: 5rem;
}

.suratebi-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  gap: 2rem;
}
.suratebi {
  left: 0px;
  top: -33.75px;
  width: 270px;
  height: 337.5px;
  position: relative;
}
